<footer class="text-center text-lg-start" style="background-color:#fe424d">
    <div class="container d-flex justify-content-center py-2" style="background-color: #fe424d;">
       
        <a href="https://www.instagram.com/_khiyaniatul_/" class="btn btn-primary btn-lg btn-floating mx-1" style="background-color: #54456b;" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/atul-khiyani-880b382a5/" class="btn btn-primary btn-lg btn-floating mx-1" style="background-color: #54456b;" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Atulkhiyani0909" class="btn btn-primary btn-lg btn-floating mx-1" style="background-color: #54456b;" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>

    <!-- Combined Links and Copyright -->
    <div class="text-white p-2" style="text-align: center;">
        © 2024 Copyright:
        <a class="text-white" href="/listings" style="text-decoration: none;">WanderLust</a>
    </div>
</footer>
