<%layout("/layout/boilerplate")%>
<!-- we have used novalidate class in form to disable the default HTML5 validation and used our custom Bootstrap validation -->
<!-- We have added success-faliure client side validation in the input fields -->
<body>
    <h1 class="text-center">Create New Listing</h1><br>
    <!-- novalidate is to disable the default validation of the browser we are using our own validation Bootstrap -->
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <!-- now our currform is set to the urlencoded data but we are changing it to the multipart/form-data -->
       <!--this entype=multipart/form-data is capable of sending the files to the backend  -->
      

       <div class="row">
          <div class="col-8 offset-2">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
              <div class="valid-feedback">
                Title Looks good!
              </div>
              <div class="invalid-feedback">
                Title is required
              </div>
            </div>
            
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" name="description" id="description" required></textarea>
              <div class="valid-feedback">
                Description Looks good!
              </div>
              <div class="invalid-feedback">
                Description is required
              </div>
            </div>

            <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" id="price" name="price" required>
              
              <div class="invalid-feedback">
                Price is required
              </div>
            </div>
            
            <div class="mb-3 col-md-8">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="invalid-feedback">
                Location is required
                </div>
        </div>
            
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" name="country" class="form-control" required>
              <div class="invalid-feedback">
                Country is required
              </div>
            </div>
            
            <div class="mb-3">
              <label for="image" class="form-label">Upload Listing Image</label>
              <input type="file" class="form-control" id="image" name="image" required>
              <div class="invalid-feedback">
                Image is required
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Add Listing</button>
          </div>
        </div>
      </form>
</div>
</div>
</body>



</html>